// This file is specifically for global manual CSS overrides,
// NOT bulma scss variable overrides. Those take place in theme.scss.

.is-family-condensed {
  font-family: acumin-pro-condensed,  BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* ================================
          FOOTER OVERRIDES
  =================================*/
/*
  If the content is taller than the viewport, this places
  the footer at the end of the content. If the content is shorter 
  than the viewport, this places it at the lowest part of the viewport.
  */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.-layout-main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.-layout-main-container {
  flex: 1;
}

.-layout-footer {
  display: flex-end;
}

